.title {
    color: white;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .subtitle {
    color: rgb(255, 251, 251);
    text-align: center;
    margin-bottom: 3rem;
  }
  .b{
    background: url(../../../images/R.jpeg) center;
    background-size: cover;
  }
  
  .c {
    width: 500px; 
    margin: 0 auto;
    padding: 10px;
   min-height: 60vh;
    flex-direction: column;
    justify-content: center;
    position:relative;
    bottom: -200px;
    background-color:#936639;
   opacity:0.7;
   border-radius: 25px;
}
  
  .inputs_container {
    display: flex;
    flex-direction: column;
    color:antiquewhite;
    min-height: 100vh;
  }
  
  .inputs_container input {
    width: 100%;
    margin-bottom: 1rem ;
    padding: 1rem;
    border-radius: 20px;
    font-size: 1rem;
    font-family: inherit;
    outline: 0;
    border: 0;
    color:rgb(167, 163, 159);
    /* height: 100vh; */
    justify-content: center;
  }
  
  .login_button {
    display: block;
    margin: 1.5rem auto 1rem auto;
    width: 100%;
    padding: 0.75rem 1rem;
    border-radius: 25px;
    outline: 0;
    font-size: 1rem;
    font-family: inherit;
    cursor: pointer;
    background-color: #936639;
    color: #000000;
    border: 2px solid transparent;
  }
  
  .login_button:hover {
    border: 2px solid #4e65f7;
    background-color: #000;
  }
  
  .link_container {
    display: flex;
    justify-content: center;
  }
  
  .small {
    color: rgb(218, 218, 218);
    text-align: center;
    font-size: 0.85rem;
    text-decoration: underline;
    margin-bottom: 5rem;
    cursor: pointer;
    justify-content: center;
  }

  
  .error_msg {
    color: red;
    padding-left: 1rem;
    font-size: 0.85rem;
    margin: 0;
  }
  
  @media only screen and (max-width: 620px) {
    .inputs_container input {
      width: 100%;
    }
  
    .login_button {
      width: 100%;
      color:#936639;
    }
  
    .error_msg {
      padding-left: 0.2rem;
    }
  }
  
  @media only screen and (max-height: 670px) {
    .subtitle {
      margin-bottom: 2rem;
    }
  
    .small {
      margin-bottom: 3rem;
      justify-content: center;
    }
  } 
    