.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-grow: 1;
    /* padding: 20px; */

}

.new-item-section {
    margin-bottom: 20px;
    margin: 10px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-message {
    color: red;
}

.success-message {
    color: green;
}

.posted-items-section {
    display: flex;
    margin-left: 100px;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.posted-items-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;

}

.item-card-image img {
    border-radius: 5%;
    width: 100%;
    height: 160px;
}


.item-card-user img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin: 5px;
}

.posted-items-container h3 {
    color: #000000;
}

.created-at {
    font-size: 14px;
    color: #4f4f4f;
    margin: 8px;
}

.main-container {
    min-height: 80vh;
    flex-grow: 1;
    background-color: #f3f5fa;
    height: 100%;
}

.main-container h2,
p {
    color: #000000;
    text-align: center;
    margin-bottom: 20px;

}

.main-container .logout {
    margin: 10px;
    margin-left: 90%;
    background-color: rgb(72, 66, 64);
    color: rgb(255, 255, 255);
    font-size: large;
}


.container {
    display: flex;
    margin: 15px;
    padding: 10px;
}

.sidebar {
    width: 5%;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    height: 200px;
    position: sticky;
    top: 80px;

}

.in-sidebar {
    margin-top: 120px;
}

.sidebar h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.no-item {
    color: #000000;
    text-align: center;
    margin-top: 50px;
    margin: 300px;
    font-size: 3rem;
}

.content {
    width: 80%;
    padding: 10px;
    padding-top: 15px;
    margin-left: 20%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
    grid-gap: 15px;
    overflow-y: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #ffffffd3;
}

.content h3 {
    font-size: 18px;
    color: rgb(202, 43, 43);
    text-align: center;

}

/* .item {
    border-radius: 10px;
    border-style: none;
    background-color: rgba(239, 239, 239, 0.737);
    margin-bottom: 40px;
    padding: 5px;
    padding-bottom: 20px;
    text-align: center;
} */



.item b {
    font-size: 18px;
    margin-left: 25px;
    text-align: center;
    color: rgb(0, 0, 0);
}


label {
    font-size: 14px;
    color: rgb(0, 0, 0);
    margin-left: 10px;
}


.price-range,
input[type=number] {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border-style: none;
    margin-bottom: 10px;
    padding-left: 10px;
}

.my-component {
    position: relative;
    /* Make the container relative */
}

.sort-by-toggle {
    cursor: pointer;
}

.sorting-options {
    position: absolute;
    top: 100%;
    /* Position the dropdown below the "Sort By" text */
    left: 0;
    z-index: 1;
    /* Ensure the dropdown is above other content */
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    list-style: none;
    margin: 0;
}

.sorting-options li {
    cursor: pointer;
    padding: 5px;
}

.sorting-options li:hover {
    background-color: #f0f0f0;
}

/* Show the dropdown when it's visible */
.my-component .sorting-options {
    display: block;
}

.sort-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.in-sort-options {
    width: 160px;
    margin-left: 85%;
    margin-top: -30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}



.in-sort-options li {
    padding: 3px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.in-sort-options li:hover {
    background-color: #f3f5fa;
}

.in-sort-options,
ul {
    list-style: none;
    padding: 0;
    position: absolute;
    border-radius: 3%;
    left: 0;
    background-color: #ffffff;
    /* z-index: 1; */
}

/* ProductList.css */
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-item {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    transition: transform 0.2s;
    width: 250px;
    border-radius: 10px;
    /* border-style: none; */
    background-color: rgba(160, 155, 168, 0.539);
    padding: 5px;
    padding-bottom: 20px;
    text-align: center;
}

.product-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.product-item img {
    max-width: 100%;
    height: auto;
    border-radius: 4px 4px 0 0;
}

.product-item h3 {
    font-size: 18px;
    /* margin: 10px 0; */
    text-align: center;
    color: rgb(26, 26, 68);
}

.product-item p {
    font-size: 14px;
    color: #333;
}

.product-item b {
    color: rgba(37, 34, 223, 0.923);
}

.product-details-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.product-details {
    background-color: #e6e6e6;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    width: 400px;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.product-details p {
    font-size: 20px;
    color: #333;
    margin: 10px 0;
    text-align: center;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 25px;
    color: #888;
}

.bookmark-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #888;
}

.bookmark-button.bookmarked {
    color: #e74c3c;
}

.product-images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    margin-bottom: 20px;
}

.product-images img {
    max-width: 100%;
    max-height: 100%;
    width: 250px;
    height: 250px;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.prev-button {
    left: 20px;
}

.next-button {
    right: 20px;
}