.form-container,
.login-form {
  display: flex;
  flex-direction: column;
}

.cont {
  min-width: 100vh;
  width: 100%;
}

.login-form h2 {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  color: rgb(255, 255, 255);
}

.contain {
  background-color: rgb(195, 15, 15);
  height: auto;
}

@media only screen and (max-width: 400px) {
  .contain {
    right: 10px !important;
  }
}

@media only screen and (max-width: 350px) {
  .contain {
    /* right: 0 !important; */
    position: static !important;
    margin: 0;
    padding: 0;
  }
}

.login-form {
  fill: rgba(255, 255, 255, 0.2);
  stroke-width: 1px;
  stroke: #e0e0e0;
  filter: drop-shadow(0px 82px 40px rgba(100, 100, 100, 0.08));
}

label {
  text-align: left;
  color: rgb(255, 255, 255);
  padding: 0.25rem 0;
}
input {
  margin: 0.5rem 0;
  padding: 0.75rem;
  border: none;
  border-radius: 7px;
}
button {
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(245, 118, 118);
  cursor: pointer;
  color: aliceblue;
}

button:hover {
  background-color: rgba(37, 19, 110, 0.699);
}

button:disabled {
  background-color: rgb(122, 115, 115);
  cursor: not-allowed;
}

.btn {
  background: none;
  color: rgb(245, 118, 118);
  text-decoration: underline;
}

.tog {
  background-color: rgb(81 86 255);
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.tog:hover {
  background-color: #c5c5c5;
  color: rgb(81 86 255);
}
