.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-grow: 1;
    /* padding: 20px; */

}

.new-item-section {
    margin-bottom: 20px;
    margin: 10px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-message {
    color: red;
}

.success-message {
    color: green;
}

.posted-items-section {
    display: flex;
    margin-left: 100px;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.posted-items-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;

}

.item-card-image img {
    border-radius: 5%;
    width: 100%;
    height: 160px;
}


.item-card-user img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin:5px;
}

.posted-items-container h3 {
    color: #000000;
}

.created-at {
    font-size: 14px;
    color: #4f4f4f;
    margin: 8px;
}

.main-container {
    min-height: 100vh;
    flex-grow: 1;
    background-color: rgba(76, 58, 58, 0.28);
    height: 100%;
}

.main-container h2 {
    color: #000000;
    text-align: center;
    margin-bottom: 20px;

}

.main-container .logout {
    margin: 10px;
    margin-left: 90%;
}


.container {
    display: flex;
    margin: 30px;
    padding: 10px;
}

.sidebar {
    width: 20%;
    /* background-color: #b3aeae; */
    padding: 20px;
    margin:10px;
    margin-left: 50px;
    box-sizing: border-box;
    height: 80%;
    position: fixed;
    top: 20px;
    margin-top: 50px;

}

.in-sidebar {
    margin-top: 120px;
}

.sidebar h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.content {
    width: 80%;
    padding: 5px;
    padding-top: 15px;
    margin-left: 25%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(242, 242, 242, 0.28);
}

.content h3 {
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-align: center;

}

.item {
    border-radius: 10px;
    border-style: none;
    background-color: rgb(255, 255, 255);
    margin-bottom: 40px;
}

.item h3 {
    font-size: 16px;
}

.item p {
    font-size: 14px;
    
}

.item b {
    font-size: 18px;
    margin-left: 25px;
    text-align: center;
    color: rgb(0, 0, 0);
}


label {
    font-size: 14px;
    color: rgb(0, 0, 0);
    margin-left: 10px;
}


input[type="radio"], input[type="checkbox"] {
    width: 20%;
    height: 30px;
    border-radius: 5px;
    border-style: none;
    margin-bottom: 10px;
    padding-left: 10px;
}


